body {
    margin:0 auto;
    font-family: 'Poltawski Nowy', serif;
}

/*tophat*/
.nav-logo {
    color:white;
    margin:0 auto;
    font-weight:500;
    text-transform:uppercase;
}

.red {
    color:rgb(186, 10, 10);
}
/*end tophat*/


/*splash image*/
.hero-image {
    width:100%;
}

.hero-container {
    position:relative;
    text-align:center;
    color:white;
}

.overlay {
    position:absolute;
    width:100%;
    top:20%;
    background:black;
    opacity:.7;
}

.hero-hed {
    padding-top:10px;
    margin: 0 auto;
    font-size:6em;
    font-family: 'Poltawski Nowy', serif;
    padding-bottom:10px;
    color:white;
}

.hero-sub {
    font-family: 'Poltawski Nowy', serif;
    font-size:1.5em;
}
/*splash image*/

/*captionings*/
.headline {
    font-size:2.5em;
    font-weight:700;
    text-align:center;
    font-family: 'Poltawski Nowy', serif;
}

.byline {
    font-size:1em;
    text-transform:uppercase;
    text-align:center;
    font-family: 'Poltawski Nowy', serif;
}

p {
    font-family:georgia, serif;
    line-height:180%;
}

.chapterheadline {
    font-size:25px;
    font-family: 'Poltawski Nowy', serif;
}

h1 {
    
}

.caption {
    margin-left:0 auto;
    width:100%;
    margin-right:auto;
    display:block;
    padding-top:15px;
}

.planet {
    color:darkgrey;
    font-size:14px;
    text-align:center;
    width:100%;
}

.credits {
    font-family:georgia, serif;
    line-height:180%;
    color:rgb(107, 104, 104);
    font-size:12px;
}
/*end captionings*/

/*pull quote*/
.quote {
    font-family: 'Poltawski Nowy', serif;
    color:maroon;
    font-size:3em;
    font-weight:600;
    text-align:left;
    padding: 15px 0px 15px 0px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    margin-top:20px;
    margin-bottom:20px;
}

.attribution {
    font-family: 'Poltawski Nowy', serif;
    font-size:.5em;
    font-weight:400;
}
/*end pull quote*/

/*fancy box*/
.fancy-box {
    border:5px double goldenrod;
}

.box-title {
    font-size:2em;
    background:goldenrod;
}
/*end fancy box*/

/*footer*/
.footer {
    margin:0 auto;
}

h4 {
    text-align:center;
    font-size:15px;
    padding-top:10px;
    color:aliceblue;
    background-color:black;
    font-family: 'Poltawski Nowy', serif; 
    margin-bottom:0;
}

.copyright {
    background-color:black;
    color:aliceblue;
    font-size:13px;
    font-family: 'Poltawski Nowy', serif;
    padding-top:10px;
    margin-bottom:0;
}
/*end footer*/

@media (max-width:900px) {
    .hero-hed {
        font-size:3em;
    }

    .hero-sub {
        font-size:1em;
    }
}
