/* css for bootstrap */

/* navbar edits */
.container-fluid {
    background-color:rgb(59, 88, 104); 
    border:0px;
    margin:0 auto;
    padding-right:0;
}

.navbar {
    padding:0;
    width:auto 0;
    border:0;
}

.navbar-brand {
    color:aliceblue;
}

.navbar-nav li {
    display:inline;
    list-style-type:none;
}

.nav-link  {
   color:aliceblue;
   text-align:left;
}
/* navbar edits end */

@media screen and (max-width:800px;) {

}

navbar-expand-lg bg-body-tertiary