/* css for bootstrap */

/* navbar edits */
.container-fluid {
    background-color:rgb(59, 88, 104); 
}

.navbar {
    padding:0;
    width:1280px;
}

.navbar-brand {
    color:aliceblue;
}

.nav-link  {
   color:aliceblue;
}
/* navbar edits end */

@media screen and (max-width:500px;) {
    
}