/* css for reg. styling*/

/*whole edits*/
.container {
    margin:0;
    padding:0;
    border:0;
    max-width:1300px;
}

body {
    margin:0 auto;
    font-family:Georgia, 'Times New Roman', Times, serif
}
/*whole edits end*/

/*picture*/
.portriat {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 450px;
    display: block;
    text-align:center;
    margin:0 auto;
}

p {
  padding-left:80px;
  padding-right:80px; 

}