/* css for reg. styling*/

/*whole edits*/
.container {
    margin:0;
    padding:0;
    border:0;
    max-width:1300px;
}

body {
    margin:0 auto;
    font-family:Georgia, 'Times New Roman', Times, serif
}
/*whole edits end*/

/*picture*/
.portriat {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 450px;
    display: block;
    text-align:center;
    margin:0 auto;
}
/*end picture*/

/*word edits*/
p {
  padding-left:80px;
  padding-right:80px; 
}

h1 {
    font-size:20px;
    color:aliceblue;
    background-color:rgb(59, 88, 104);
    margin:0px;
}

.col-lg-4 {
    display:inline;
}

.sectionheader {
    background-color:white;
    color:rgb(59, 88, 104);;
    padding-top:40px;
    padding-left:80px;
    font-size:25px;
}

.jobtitle {
    padding-left:80px;
    padding-right:80px;
    padding-bottom:10px;
    font-size:20px;
}

.organization {
    padding-left:80px;
    padding-right:80px;
    padding-bottom:5px;
}

.date {
    padding-left:80px;
    padding-right:80px;
    padding-bottom:5px;
    font-style:italic;
}

.works {
    padding-left:80px;
}
/*end word edits*/

/*footer*/
.contactlist {
    color:aliceblue;
}

.footer {
    background-color:rgb(59, 88, 104);
    text-align:center;
}
/*end footer*/