/* css for reg. styling*/

body {
    margin: 0 auto;
    font-family:Georgia, 'Times New Roman', Times, serif
}

/*topper*/
.topimage {
    position: center;
    width:1280px;
    height:460px;
    margin:0 auto;
}

/*topper end*/

/*picture*/

.portriat {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
